grey = #f2f7fb
orange = #edc60e
blue = #0066b1
textgrey = #242424
darkgrey = #424852
exactColor = #5d9029
humanitarianColor = #feb834
politicalColor = #f37a21
psychologyColor = #3a5795 
economicColor = #b4cedc
medicineColor = #b4cedc
lawColor = #c72e31